{% extends "base.html" %} {% block title %} Home Page {% endblock %}

{% block menu-bar %}

<li class="nav-item">
  <a class="nav-link" onclick="changeUserUrlPage('/upload_image')" style="cursor: pointer;">Upload Image</a>
</li>
<li class="nav-item">
  <a class="nav-link" onclick="changeUserUrlPage('/my_tags')" style="cursor: pointer;">My Tags</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/">Logout</a>
</li>

{% endblock %}

{% block content %}
{% load static %}
<div style="text-align: center; font-size: 24px;">
  <p>Home page</p>
</div>

<script src="{% static 'js/user_menu_page_nav.js' %}"></script>

{% endblock %}