{% extends "user_menu.html" %} {% block title %} User tags {% endblock %}

{% block head-block %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/user_tags.css' %}">

<style>
    @keyframes flicker {
        0% {
            background-color: #dc3545;
        }
        50% {
            background-color: #c82333; /* Change the color slightly for 0.5 seconds */
        }
        100% {
            background-color: #dc3545;
        }
    }

    button {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s; /* Add a smooth transition for color change */
    }

    button:hover {
        background-color: #c82333; /* Change the background color on hover */
    }

    button:active,
    button:focus {
        outline: none;
        border: none;
        animation: flicker 0.5s ease-in-out; /* Apply the flickering animation on press/focus */
    }

    /* Style for the SVG icon */
    svg {
        fill: #fff;
        margin-right: 8px;
    }
</style>

<title>Ordered Image List</title>
<script src="{% static 'js/display_user_images.js' %}"></script>
<script src="{% static 'js/user_menu_page_nav.js' %}"></script>

{% endblock %}


{% block content %}



<div style="width: 110%; justify-content: center; align-items: center; display: flex; margin-left: -5%;">
  <div id="imageListContainer">
    <h1>My tags:</h1>
    <div class="image-list" style="margin-left: 110px;" id="imageList"></div>
  </div>
</div>

{% endblock %}